<div class="announcement-wrapper">
  {{#each model.announcements as |announcement|}}
  {{announcement-banner announcement=announcement}}
  {{/each}}
</div>

<h2>About Super Rentals</h2>

<p> This is a super ember app! </p>
